# Introducción a Pandas para ciencia de datos - Series.

1. Para crear una serie, primero debemos preparar  nuestro entorno virtual, donde vamos a trabajar.

En Windows
 `py -m venv env`

En Linux y Mac
`python3 -m venv env`

2. Activar el entorno virtual

En Windows
`.\env\Script\activate\`
En Linux y Mac
`source env/bin/activate`
3. Instalar Pandas
`pip install pandas`

### Crear una serie
**Primero, importamos la libreria Pandas y le asignamos el alias `pd`.**

In [3]:
import pandas as pd
from pandas import Series
import random
from random import randint

Ahora, vamos a definir nuestra primera Series, para eso utilizaremos Series de pandas
utilizaremos este ejemplo por ahora: 

`lista = [random.randint(1,100) for i in range(10)]`

In [4]:
lista = [random.randint(1,100) for i in range(10)]
lista

[53, 66, 10, 40, 42, 79, 71, 69, 41, 52]

Utilizaremos la lista aleatoria para generar nuestra primera Series

In [5]:
nueva_serie= Series(lista)
nueva_serie

0    53
1    66
2    10
3    40
4    42
5    79
6    71
7    69
8    41
9    52
dtype: int64

### Cambiando el index
Con los datos generados, ahora crearemos un index para los valores actuales. 
["Manzanas", "Pan", "Leche", "Huevos", "Arroz", "Pollo", "Tomates", "Aceite de oliva", "Queso", "Café"]

In [8]:

index = ["Manzanas", "Pan", "Leche", "Huevos", "Arroz", "Pollo", "Tomates", "Aceite de oliva", "Queso", "Café"]
nueva_serie = Series(lista, index=index)
nueva_serie

Manzanas           53
Pan                66
Leche              10
Huevos             40
Arroz              42
Pollo              79
Tomates            71
Aceite de oliva    69
Queso              41
Café               52
dtype: int64

### Crear series a partir de Diccionarios

En este caso las key tomaran el valor del index de las series, utilizaremos este ejemplo para mostrarlo

notas = {"matematicas":60, "lengua":20, "historia":0 }

In [9]:
notas = {"matematicas":60, "lengua":20, "historia":0 }
materias = Series(notas)
materias

matematicas    60
lengua         20
historia        0
dtype: int64

## Metodos Básicos

### Acceder a los primeros 5 elementos
Con el metodo `head()` podemos acceder a los primeros 5 elementos, tambien podemos especificarle la cantidad que queremos observar.

In [10]:
nueva_serie.head()

Manzanas    53
Pan         66
Leche       10
Huevos      40
Arroz       42
dtype: int64

### Acceder a los ultimos elementos
Con el metodo `tail()` podemos ver los ultimos registros. (pasarle un indice si se requiere, de lo contrario solo seran 5 al igual que head)

In [11]:
nueva_serie.tail()

Pollo              79
Tomates            71
Aceite de oliva    69
Queso              41
Café               52
dtype: int64

### Obtener valores maximos, minimos, promedio, desviacion estandar y media

Para ello, utilizaremos los siguientes metodos: 
* max() <- valor máximo.
* min() <- valor mínimo. 
* mean() <- valor promedio.
* std()  <- obtener desviacion estandar
* median() obtener la media

In [14]:

nueva_serie.median()

np.float64(52.5)

### Aplicar condiciones
Podemos filtrar valores utilizando condiciones

In [15]:
nueva_serie>50

Manzanas            True
Pan                 True
Leche              False
Huevos             False
Arroz              False
Pollo               True
Tomates             True
Aceite de oliva     True
Queso              False
Café                True
dtype: bool

Podemos mejorar los resultados utilizando la siguiente estructura: 

`serie[serie condicion valor]`

In [17]:
nueva_serie[nueva_serie>50 ]

Manzanas           53
Pan                66
Pollo              79
Tomates            71
Aceite de oliva    69
Café               52
dtype: int64

### Operaciones Básicas con Series en Pandas

Las Series en pandas permiten realizar operaciones matemáticas y lógicas de manera sencilla. Algunas de las operaciones básicas son:

**Suma, Resta, Multiplicación y División**:
    Puedes realizar operaciones aritméticas directamente entre Series o con valores escalares.

    Ejemplo:
    ```python
    nueva_series + 10  # Suma 10 a cada elemento de la Series
    nueva_series * 2   # Multiplica cada elemento por 2
    ```

In [18]:
nueva_serie + 10

Manzanas           63
Pan                76
Leche              20
Huevos             50
Arroz              52
Pollo              89
Tomates            81
Aceite de oliva    79
Queso              51
Café               62
dtype: int64


**Operaciones entre Series**:
    Si tienes dos Series con índices compatibles, puedes realizar operaciones entre ellas.

    Ejemplo:
    ```python
    nueva_series + materias  # Combina valores de ambas Series según sus índices
    ```

**NOTA: en caso de que al sumar las series sean de diferentes tamaños, es decir, que los indices no coincidan, el resultado de los valores incorrectos sera NaN**

**NOTA2: las sumas se hacen teniendo en cuenta el indice! no las posiciones en las que se muestran**

In [21]:
nueva_serie - nueva_serie

Manzanas           0
Pan                0
Leche              0
Huevos             0
Arroz              0
Pollo              0
Tomates            0
Aceite de oliva    0
Queso              0
Café               0
dtype: int64

### Propiedades fundamentales de las series.

serie.size -> devuelve el numero de elementos de una serie

serie.index -> devuelve una lista con los nombres de las filas (tambien valido para dataframes)

serie.dtype ->  devuelve el tipo de datos de los elementos de la serie

In [25]:
nueva_serie.index

Index(['Manzanas', 'Pan', 'Leche', 'Huevos', 'Arroz', 'Pollo', 'Tomates',
       'Aceite de oliva', 'Queso', 'Café'],
      dtype='object')